#vsc
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

./history
# node
node_modules
build
npm-debug.log
.env
.DS_Store
package-lock.json